@import "../scss/custom.scss";
@import "../scss/common.scss";
@import "../scss/navbar.scss";
@import "../scss/sections.scss";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Niconne&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "../../node_modules/react-modal-video/scss/modal-video.scss";

body {
	font-family: "Mulish", sans-serif;
	background-color: $primarylight;
	@media (max-width: 767.98px) {
		overflow-x: hidden;
		position: relative;
	}
}
.font-philosopher {
	font-family: "Philosopher", sans-serif;
}
.font-niconne {
	font-family: "Niconne", cursive;
}
section {
	padding: 60px 0;
}
